<%= form_with(model: homme, local: true) do |form| %>
  <% if homme.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(homme.errors.count, "error") %> prohibited this homme from being saved:</h2>

      <ul>
        <% homme.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
